.contact {
    padding: 40px 0 60px;
}
.contact-info {
    background: linear-gradient(135deg, #0a0820 0%, #0a0820 100%) !important;
     position: relative;
   
}
.text-start{
    color:#ebb917;
}
.icon-box2 {
    width: 50px;
    height: 50px;
    border: 1px transparent;
    background-color: rgba(105, 104, 88, 0.164);
    border-radius: 12px;
    color:white
}
.icon-box1 {
    transition: transform 0.2s ease;
    width: 50px;
    height: 50px;
    border: 1px transparent;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
}
.icon-box1:hover {
    transform: translateY(-8px);
    background-color: rgba(235, 185, 23, 0.25);
}
.form-label {
    color: #0a0820;
    font-size: 16px;
}
.form-label i {
    color: #ebb917;
}
.custom-input {
    height: 55px;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    padding: 12px 18px;
    font-size: 16px;
    box-shadow: none;
}
textarea.custom-input {
    height: 150px;
    resize: none;
}
.custom-input:focus {
    border: 2px solid #ebb917;
    box-shadow: 0 0 0 3px rgba(235, 185, 23, 0.15);
}
.custom-btn {
    background: #0a0820;
    color: #fff;
    border-radius: 15px;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
}
.custom-btn:hover {
    background: #ebb917;
    color: #0a0820;
}
.sendmsg {
    color: #0a0820;
}